
@media only screen and (max-width:375px) {
    body {
        border: 10px solid red;
    }
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
    body {
        border: 20px solid blue;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    body {
        border: 20px solid green;
    }
 }

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        border: 20px solid yellow;
     }
  }

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    body {
        border: 20px solid hotpink;
     }
  }